Package: com.iamdega.uiscroller
Name: UIScroller
Version: 1.0.5+roothide1
Description: Rest your fingers, automate scrolling any pages!
Maintainer: iamdega
Author: iamdega
Section: Tweaks
Depends: ellekit
Icon: https://i.postimg.cc/7Z9SYWZS/UIScroller.png
